body {
    background: rgb(37, 37, 37);
    color: rgb(206, 206, 206);
    text-align: center;
}


button {
    transition: background-color 0.2s, color 0.4s, box-shadow 0.02s ease-out;
}

    button:active {
        box-shadow: inset 0px 0px 5px rgb(15, 15, 15);
    }

    button[disabled] {
        background-color: rgb(117, 117, 117) !important;
        pointer-events: none;
    }

.smallHelperText {
    font-size: 8pt;
}

.borderContainer {
    outline: 1px solid rgb(97, 97, 97);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* #region soul/prestige counters */
#playerSoulCounter {
    font-size: 24pt;
    color: rgb(247, 247, 247);
}

#currenciesContainerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#genericBeadBox {
    color: rgb(247, 247, 247);
    background: rgb(83, 83, 83);
    width: 120px;
    margin-top: 5px;
    margin-bottom: 1px;
    display: inline-block;
}

#lightBeadBox {
    color: rgb(12, 12, 12);
    background: rgb(247, 247, 247);
    width: 60px;
    margin-top: 5px;
    margin-bottom: 1px;
    display: inline-block;
}

#darkBeadBox {
    color: rgb(247, 247, 247);
    background: rgb(12, 12, 12);
    width: 60px;
    margin-top: 5px;
    margin-bottom: 1px;
    display: inline-block;
}

.soulBeadTextCentered {
    width: 70px;
    text-align: center;
    display: inline-block;
}

/* #endregion */

.topButtons {
    outline: 1px solid rgb(0, 140, 255);
    border: none;
    background-color: rgb(71, 71, 71);
    color: rgb(247, 247, 247);
    width: 115px;
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 5px 4px;
}
    .topButtons:hover {
        background-color: rgb(0, 140, 255);
        color: rgb(12, 12, 12);
    }

#topButtonsContainer {
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.soulTabButtons {
    outline: 1px solid rgb(16, 223, 27);
    border: none;
    background-color: rgb(71, 71, 71);
    color: rgb(247, 247, 247);
    width: 80px;
    font-size: 10pt;
    padding-top: 1px;
    padding-bottom: 2px;
    margin: 6px 2px;
}
    .soulTabButtons:hover {
        background-color: rgb(16, 223, 27);
        color: rgb(12, 12, 12);
    }

#mapSoulTab {
    display: flex;
    justify-content: center;
}

/* I stopped here changing back to px values malth */


/* #region loading/changelog stuff */
.initialScreens {
    width: 100vw;
    height: 100vh;
    background: rgb(37, 37, 37);
    position: absolute;
    left: 0;
    top: 0;
}

#changeLogContainer {
    width: 50vw;
    height: 70vh;
    margin-top: 3vh;
    text-align: left;
}

#introText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orange {
    color: rgb(255, 166, 0);
}

#loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* #endregion */

.fade-enter-active, .fade-leave-active {
    transition: opacity .7s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


#map-network {
    width: 40vw;
    height: 65vh;
    border: 1px solid lightgray;
    margin-left: .5vw;
    margin-right: .5vw;
}

.sidePanels {
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 70vh;
    border: 1px solid lightgray;
}

/* #region home stuff */
#homeTitleTextContainer {
    width: 20vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid lightgray;
    font-size: 4vh;
    color: rgb(95, 219, 81);
}

#homeGraphicsContainer {
    display: flex;
    width: 20vw;
    height: 55vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#homeGraphics {
    outline: 1px solid lightgrey;
    margin: 4px;
}

#homeRightPanel {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#homeRightPanelUpgradeContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 19.6vw;
    height: 50vh;
    margin-top: .2vw;
    border: 1px solid lightgray;
}

#homeRightPanelTitleText {
    width: 19.6vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeRightPanelUpgradeList {
    width: 19.6vw;
    height: 45vh;
    display: flex;
}

#homeRightPanelDescription {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-wrap: normal;
    height: 19.25vh;
    width: 19.5vw;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

    #homeRightPanelDescription::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

/* #endregion */


/* #region combat node stuff */

.fightPanelTitle {
    border: .2vw solid rgb(104, 104, 104);
    width: 17vw;
    height: 3vh;
    font-size: 2.5vh;
    margin-top: 2vh;
}

/* #endregion*/


#saveButton {
    outline: 1px solid rgb(16, 223, 27);
    border: none;
    background-color: rgb(71, 71, 71);
    color: rgb(247, 247, 247);
    width: 5vw;
    font-size: .8vw;
    padding-top: .2vh;
    padding-bottom: .2vh;
    margin: .4vw .2vh;
}

#saveButton:hover {
    background-color: rgb(16, 223, 27);
    color: rgb(12, 12, 12);
}