body {
    background: rgb(37, 37, 37);
    color: rgb(206, 206, 206);
    text-align: center;
    font-size: 1vw;
}

button {
    transition: background-color 0.2s, color 0.4s, box-shadow 0.02s ease-out;
}
button:active {
    box-shadow: inset 0px 0px 5px rgb(15, 15, 15);
}
button[disabled] {
    background-color: rgb(117, 117, 117) !important;
    pointer-events: none;
}

.smallHelperText {
    font-size: .75vw;
}

.borderContainer {
    outline: 1px solid rgb(97, 97, 97);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* #region soul/prestige counters */
#playerSoulCounter {
    font-size: 30px;
    color: rgb(247, 247, 247);
}

#currenciesContainerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#genericBeadBox {
    color: rgb(247, 247, 247);
    background: rgb(83, 83, 83);
    width: 8vw;
    margin-top: 1vh;
    display: inline-block;
}
#lightBeadBox {
    color: rgb(12, 12, 12);
    background: rgb(247, 247, 247);
    width: 4vw;
    margin-top: 1vh;
    display: inline-block;
}
#darkBeadBox {
    color: rgb(247, 247, 247);
    background: rgb(12, 12, 12);
    width: 4vw;
    margin-top: 1vh;
    display: inline-block;
}
.soulBeadTextCentered {
    width: 4vw;
    text-align: center;
    display: inline-block;
}

/* #endregion */

.topButtons {
    outline: 1px solid rgb(0, 140, 255);
    border: none;
    background-color: rgb(71, 71, 71);
    color: rgb(247, 247, 247);
    width: 7vw;
    font-size: 1.2vw;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: .4vw .6vh;
}

#topButtonsContainer {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

.soulTabButtons {
    outline: 1px solid rgb(16, 223, 27);
    border: none;
    background-color: rgb(71, 71, 71);
    color: rgb(247, 247, 247);
    width: 5vw;
    font-size: .8vw;
    padding-top: .2vh;
    padding-bottom: .2vh;
    margin: .4vw .2vh;
}

#mapSoulTab {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


/* #region loading/changelog stuff */
.initialScreens {
    width: 100vw;
    height: 100vh;
    background: rgb(37, 37, 37);
    position: absolute;
    left: 0;
    top: 0;
}

#changeLogContainer {
    width: 50vw;
    height: 70vh;
    margin-top: 3vh;
    text-align: left;
}
#introText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orange {
    color: rgb(255, 166, 0);
}

#loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* #endregion */

.fade-enter-active, .fade-leave-active {
    transition: opacity .7s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }


#mynetwork {
    width: 40vw;
    height: 60vh;
    border: 1px solid lightgray;
}