<!DOCTYPE html5>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kitsune</title>
    <link rel="icon" href="/graphic_assets/fox_sprite.png">
    <link rel="stylesheet" href="css/styles.css">
    <link href="css/vis.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="vueWrapper">

        <!-- Soul and prestige currencies -->
        <div id="currenciesContainerTop">
            <div>
                You have<br>
                <span id="playerSoulCounter">{{formattedSoul}}</span><br>
                soul.<br>
            </div>
            <div v-if="unlocks.prestigeLightUnlocked && !unlocks.prestigeDarkUnlocked">
                <div id="genericBeadBox" class="borderContainer">{{formattedBeadsLight}}</div><br>
                <span class="smallHelperText">Soul Beads</span>
            </div>
            <div v-else-if="unlocks.prestigeLightUnlocked && unlocks.prestigeDarkUnlocked">
                <div id="lightBeadBox" class="borderContainer">{{formattedBeadsLight}}</div><div id="darkBeadBox" class="borderContainer">{{formattedBeadsDark}}</div><br>
                <div class="soulBeadTextCentered smallHelperText">Light Beads</div><div class="soulBeadTextCentered smallHelperText">Dark Beads</div>
            </div>
        </div>

        <!-- Main tab buttons -->
        <div id="topButtonsContainer">
            <button @click="activeStuff.activeMainTab = 'soul'" id="soulButton" class="topButtons">Soul</button>
            <transition name="fade"><button @click="activeStuff.activeMainTab = 'tails'" v-if="unlocks.tailsUnlocked" id="tailsButton" class="topButtons">Tails</button></transition>
            <transition name="fade"><button @click="activeStuff.activeMainTab = 'crystals'" v-if="unlocks.crystalsUnlocked" id="crystalsButton" class="topButtons">Crystals</button></transition>
            <transition name="fade"><button @click="activeStuff.activeMainTab = 'mansion'" v-if="unlocks.mansionUnlocked" id="mansionButton" class="topButtons">Mansion</button></transition>
            <transition name="fade"><button @click="activeStuff.activeMainTab = 'story'" v-if="unlocks.storyUnlocked" id="storyButton" class="topButtons">Story</button></transition>
            <button @click="activeStuff.activeMainTab = 'options'" id="optionsButton" class="topButtons">Options</button>
            <button @click="activeStuff.activeMainTab = 'stats'" id="statsButton" class="topButtons">Statistics</button>
        </div>

        <!-- Soul tab, includes map and regular upgrades -->
        <div v-show="activeStuff.activeMainTab === 'soul'" id="soulTab">
            <button @click="activeStuff.activeSoulTab = 'map'" id="mapButton" class="soulTabButtons">Map</button>
            <button @click="activeStuff.activeSoulTab = 'upgrades'" id="upgradesButton" class="soulTabButtons">Upgrades</button>

            <div v-show="activeStuff.activeSoulTab === 'map'" id="mapSoulTab">
                <div class="sidePanels">

                    <!-- Special Tabs -->
                    <div v-show="activeStuff.sidePanelSpecial === 'home'">
                        <div id="homeTitleTextContainer">
                            <span>Home</span>
                        </div>
                        <div id="homeGraphicsContainer">
                            <img id="homeGraphics" src="graphic_assets/home_temp.png" />
                        </div>
                    </div> <!-- Home -->
                    <!-- !Special Tabs -->

                    <div v-show="!activeStuff.sidePanelSpecial">
                        <div class="fightPanelTitle">
                            <b>{{activeStuff.sidePanelTitle}}</b>
                        </div>

                    </div>
                </div>

                <vis-network></vis-network>

                <div class="sidePanels">
                    <!-- Special Tabs -->
                    <div v-show="activeStuff.sidePanelSpecial === 'home'">
                        <div id="homeRightPanel">
                            <div id="homeRightPanelUpgradeContainer">
                                <div id="homeRightPanelTitleText">
                                    <span>Upgrades</span>
                                </div>

                                <div id="homeRightPanelUpgradeList">
                                    upgrades will go here with a buncha boxes
                                    <!-- Vue has some sort of for-each, use that for upgrades! -->
                                </div>
                            </div>

                            <div id="homeRightPanelDescription">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet dui ac ultrices fermentum. Aenean vitae quam fringilla, iaculis ipsum at, tincidunt purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras in efficitur augue, vel pellentesque elit. Aliquam at tristique turpis. Donec sagittis vulputate metus a commodo. Fusce varius, metus venenatis bibendum iaculis, neque ex convallis nibh, ac mattis purus lacus quis dolor. Vivamus dignissim in neque nec hendrerit. Mauris tellus diam, maximus a dui eu, pulvinar venenatis lacus.

                                Donec non elementum purus. Praesent lacinia risus nec risus vulputate pellentesque. Sed nibh erat, congue eget tincidunt ut, euismod at felis. Mauris egestas sit amet lorem at faucibus. Sed maximus suscipit neque id consequat. Nulla tincidunt mattis magna congue ornare. Morbi at nisi ac odio rhoncus tristique. Aenean porta felis quam, fermentum ultrices lorem auctor eu. Duis feugiat est ac mauris sollicitudin, at mollis dolor fermentum. Fusce ut porta magna. Donec lorem velit, tincidunt sollicitudin odio pulvinar, aliquam maximus velit. Phasellus et mauris quam. Phasellus accumsan ipsum quis consequat venenatis. Vestibulum ac iaculis odio. Nunc varius nunc id condimentum aliquet.

                                Ut ultricies blandit ex a condimentum. Nulla aliquet urna id quam hendrerit, at dictum dui pharetra. Aenean erat urna, vestibulum ac pharetra malesuada, vestibulum ac justo. Nullam purus mi, tincidunt non imperdiet sit amet, convallis eu nulla. Vestibulum metus odio, placerat id sem vel, accumsan euismod ligula. Donec pretium cursus neque sit amet efficitur. Maecenas in finibus dui, id faucibus risus. Sed ac orci nibh. Vestibulum risus sem, consequat id elit sed, semper suscipit ligula. Suspendisse ultricies interdum mauris quis varius. Sed quis tristique nibh.
                            </div>
                        </div>
                    </div> <!-- Home -->
                    <!-- Special Tabs -->

                    <div v-show="!activeStuff.sidePanelSpecial">
                        <div class="fightPanelTitle">
                            <b>{{activeStuff.sidePanelTitle}}</b>
                        </div>
                    </div>
                </div>
            </div>


            <div v-show="activeStuff.activeSoulTab === 'upgrades'" id="upgradesSoulTab">

            </div>

        </div>

        <!-- Tails tab, intially just has graphics showing number of tails, turns into prestige currency menu - unlocked at second tail -->
        <div v-show="activeStuff.activeMainTab === 'tails'" id="tailsTab">
            test2
        </div>

        <!-- Crystals tab, passive generation of Light Soul - unlocked at first light bead -->
        <div v-show="activeStuff.activeMainTab === 'crystals'" id="crystalsTab">
            test3
        </div>

        <!-- Mansion tab, uncertain what all this entails so far - unlocked at ??? -->
        <div v-show="activeStuff.activeMainTab === 'mansion'" id="mansionTab">

        </div>

        <!-- Story messages displayed here -->
        <div v-show="activeStuff.activeMainTab === 'story'" id="storyTab">

        </div>

        <!-- Options, save, load -->
        <div v-show="activeStuff.activeMainTab === 'options'" id="optionsTab">
            <button id="saveButton" @click="saveToLocal">Save</button>
            <button id="loadButton" @click="loadFromLocal">Load</button>
            <button id="clearButton" @click="clearData">Clear</button>
            <a href="/old/index(old).html">Go to old version</a>
        </div>

        <!-- Player stats -->
        <div v-show="activeStuff.activeMainTab === 'stats'" id="statsTab">

        </div>

        <!-- Changelog, may remove from initial screen -->
        <div v-if="showIntro === true" id="startScreen" class="initialScreens">
            <div id="introText">
                <span style="font-size: 4vw;">Kitsu<span class="orange">ne</span></span>
                <div id="changelogContainer" class="borderContainer">
                    A changelog would probably go here. Or somethin' like that. for now, I'll use it to explain
                    the game instead! The basic premise is that the 'player character' is a fox,
                    and the game starts off with it killing creatures and absorbing soul. The progression comes in the form of that soul
                    acting as a multiplier to some combat stats, and also is used to buy upgrades. After enough, another tail is gained, and at 9,
                    you can reset pretty much everything in order to gain the first prestige currency,
                    which unlocks new and more powerful upgrades, so on and so forth.
                    <br><br>
                    To start, click one of the two circular nodes. Click fight. You should be able to kill one enemy, but cannot
                    kill the other. Click 'consume' after that, and you'll gain Soul. Each enemy gives you a certain amount,
                    and then 5x that amount on death; 5 base, 25 on death, for 30 total, for example.
                    <br><br>
                    The bar at the bottom right, a grey bar with x/y on it, means you need to kill y enemies to unlock new nodes,
                    and have killed x enemies so far. I set this to 1 for most of them, just so I can quickly make sure it all works.
                    <br><br>
                    The Tails tab will eventually update as more tails are gained, and those buttons won't appear until you've gotten
                    the 9th and reset the game (and only the 1st will appear at that point).
                    <br><br>
                    Eventually you'll unlock new special nodes, like the starting node. These will always have upgrades, and may
                    have or unlock new mechanics.
                    <br><br>
                    Oh, and the C button will recenter the map, 'cause you can scroll infinitely out and to the sides.
                </div>
                <button @click="showIntro = false" id="startButton" class="button topButtons">Start</button>
            </div>
        </div>

        <!-- Displayed while rest of page loads -->
        <div id="loadingScreen" v-show="loading" class="initialScreens">
            <span style="font-size: 10vw;">Kitsu<span class="orange">ne</span></span><br>
            <span style="font-size: 4vw;">Loading...</span>
        </div>

    </div>

    <script src="javascript/vis.min.js"></script>
    <script src="javascript/vue.min.js"></script>
    <script src="javascript/math.min.js"></script>
    <script src="javascript/main.js"></script>
</body>
</html>